# Core ML & Data
numpy==1.24.4
pandas==2.0.3
scikit-learn==1.3.2
joblib==1.4.2

# Big Data
pyspark==3.4.2

# Frontend
streamlit==1.32.0

# Visualization (optional but recommended)
matplotlib
seaborn

# Utilities
asttokens
